<p>home works!</p>
<!--<p-multiSelect [options]="cities" [(ngModel)]="selectedCities" optionLabel="name"></p-multiSelect>-->
<p-calendar [(ngModel)]="value"></p-calendar>
<p-checkbox name="groupname" value="val1" label="Value 1" [(ngModel)]="selectedValues"></p-checkbox>
<p-checkbox name="groupname" value="val2" label="Value 2" [(ngModel)]="selectedValues"></p-checkbox>

<p-fileUpload name="myfile[]" customUpload="true" (uploadHandler)="myUploader($event)"></p-fileUpload>
<input type="file" #csvReader name="Upload CSV" id="txtFileUpload" (change)="myUploader($event)" accept=".csv"/>
<button (click)="downloadSample()">Download File</button>
<div class="ui-g-12 ui-lg-12">
  <div class="ui-g-6 ui-lg-6">
    <h5>Basic: {{sliderVal}}</h5>

    <p-slider [(ngModel)]="sliderVal" [min]="0" [max]="10"></p-slider>
  </div>
  <div class="ui-g-6 ui-lg-6">
    <h5>Input: {{sliderVal}}</h5>
    <input type="text" pInputText [(ngModel)]="sliderVal" readonly/>
    <p-slider [(ngModel)]="sliderVal"></p-slider>
  </div>
</div>

<div class="ui-g-12 ui-lg-6">
  <div class="ui-g-6 ui-lg-6">
    <p-dropdown [options]="cities" optionLabel="name" [(ngModel)]="selectedCity" [filter]="true"></p-dropdown>
  </div>
  <div class="ui-g-6 ui-lg-6">

    <p-multiSelect (onChange)="selectionChanged($event)"[options]="cities" optionLabel="name" [(ngModel)]="selectedCities"></p-multiSelect>
  </div>
</div>
<!--<p-multiSelect [options]="cities" [(ngModel)]="selectedCities"></p-multiSelect>-->


